.card{
    border-radius: 5px;
    background-color: var(--sidebar-background);
    width: 20%;
    min-width: 400px;
    min-height: 120px;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0.25rem 0.5rem 1rem 6px rgb(211, 211, 211);
    padding: 1rem;
  }
.card-wide{
  width: 30%;
  max-width: 1200px;
}

h2.card-header{
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--sidebar-background);
  text-align: center;
}
  section.card-body > *{
    padding: 5px;
  }
  section.card-body > * >*  :hover{
    cursor: pointer;
    background-color: var(--third-color-hover);
  }
